<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igeekhome.colloa.mapper.DepartmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.igeekhome.colloa.domain.DepartmentInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_code" jdbcType="CHAR" property="companyCode" />
    <result column="depa_code" jdbcType="CHAR" property="depaCode" />
    <result column="director_code" jdbcType="CHAR" property="directorCode" />
    <result column="depa_name" jdbcType="CHAR" property="depaName" />
    <result column="depa_desc" jdbcType="VARCHAR" property="depaDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, company_code, depa_code, director_code, depa_name, depa_desc
  </sql>
  <select id="selectByExample" parameterType="com.igeekhome.colloa.domain.DepartmentInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from department_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from department_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.igeekhome.colloa.domain.DepartmentInfoExample">
    delete from department_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.igeekhome.colloa.domain.DepartmentInfo">
    insert into department_info (id, company_code, depa_code, 
      director_code, depa_name, depa_desc
      )
    values (#{id,jdbcType=BIGINT}, #{companyCode,jdbcType=CHAR}, #{depaCode,jdbcType=CHAR}, 
      #{directorCode,jdbcType=CHAR}, #{depaName,jdbcType=CHAR}, #{depaDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.igeekhome.colloa.domain.DepartmentInfo">
    insert into department_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="depaCode != null">
        depa_code,
      </if>
      <if test="directorCode != null">
        director_code,
      </if>
      <if test="depaName != null">
        depa_name,
      </if>
      <if test="depaDesc != null">
        depa_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=CHAR},
      </if>
      <if test="depaCode != null">
        #{depaCode,jdbcType=CHAR},
      </if>
      <if test="directorCode != null">
        #{directorCode,jdbcType=CHAR},
      </if>
      <if test="depaName != null">
        #{depaName,jdbcType=CHAR},
      </if>
      <if test="depaDesc != null">
        #{depaDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.igeekhome.colloa.domain.DepartmentInfoExample" resultType="java.lang.Long">
    select count(*) from department_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update department_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.companyCode != null">
        company_code = #{record.companyCode,jdbcType=CHAR},
      </if>
      <if test="record.depaCode != null">
        depa_code = #{record.depaCode,jdbcType=CHAR},
      </if>
      <if test="record.directorCode != null">
        director_code = #{record.directorCode,jdbcType=CHAR},
      </if>
      <if test="record.depaName != null">
        depa_name = #{record.depaName,jdbcType=CHAR},
      </if>
      <if test="record.depaDesc != null">
        depa_desc = #{record.depaDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update department_info
    set id = #{record.id,jdbcType=BIGINT},
      company_code = #{record.companyCode,jdbcType=CHAR},
      depa_code = #{record.depaCode,jdbcType=CHAR},
      director_code = #{record.directorCode,jdbcType=CHAR},
      depa_name = #{record.depaName,jdbcType=CHAR},
      depa_desc = #{record.depaDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.igeekhome.colloa.domain.DepartmentInfo">
    update department_info
    <set>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=CHAR},
      </if>
      <if test="depaCode != null">
        depa_code = #{depaCode,jdbcType=CHAR},
      </if>
      <if test="directorCode != null">
        director_code = #{directorCode,jdbcType=CHAR},
      </if>
      <if test="depaName != null">
        depa_name = #{depaName,jdbcType=CHAR},
      </if>
      <if test="depaDesc != null">
        depa_desc = #{depaDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.igeekhome.colloa.domain.DepartmentInfo">
    update department_info
    set company_code = #{companyCode,jdbcType=CHAR},
      depa_code = #{depaCode,jdbcType=CHAR},
      director_code = #{directorCode,jdbcType=CHAR},
      depa_name = #{depaName,jdbcType=CHAR},
      depa_desc = #{depaDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>