<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.igeekhome.colloa.mapper.ExternalCategoryMapper">
    <resultMap id="BaseResultMap" type="com.igeekhome.colloa.domain.ExternalCategory">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="category_code" jdbcType="VARCHAR" property="categoryCode"/>
        <result column="catetory_name" jdbcType="VARCHAR" property="catetoryName"/>
        <result column="catetory_desc" jdbcType="VARCHAR" property="catetoryDesc"/>
        <result column="priority" jdbcType="INTEGER" property="priority"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, category_code, catetory_name, catetory_desc, priority
  </sql>
    <select id="selectByExample" parameterType="com.igeekhome.colloa.domain.ExternalCategoryExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from external_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from external_category
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from external_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.igeekhome.colloa.domain.ExternalCategoryExample">
        delete from external_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.igeekhome.colloa.domain.ExternalCategory">
    insert into external_category (id, category_code, catetory_name, 
      catetory_desc, priority)
    values (#{id,jdbcType=BIGINT}, #{categoryCode,jdbcType=VARCHAR}, #{catetoryName,jdbcType=VARCHAR}, 
      #{catetoryDesc,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.igeekhome.colloa.domain.ExternalCategory">
        insert into external_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="categoryCode != null">
                category_code,
            </if>
            <if test="catetoryName != null">
                catetory_name,
            </if>
            <if test="catetoryDesc != null">
                catetory_desc,
            </if>
            <if test="priority != null">
                priority,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="categoryCode != null">
                #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="catetoryName != null">
                #{catetoryName,jdbcType=VARCHAR},
            </if>
            <if test="catetoryDesc != null">
                #{catetoryDesc,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.igeekhome.colloa.domain.ExternalCategoryExample"
            resultType="java.lang.Long">
        select count(*) from external_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update external_category
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.categoryCode != null">
                category_code = #{record.categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="record.catetoryName != null">
                catetory_name = #{record.catetoryName,jdbcType=VARCHAR},
            </if>
            <if test="record.catetoryDesc != null">
                catetory_desc = #{record.catetoryDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.priority != null">
                priority = #{record.priority,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update external_category
        set id = #{record.id,jdbcType=BIGINT},
        category_code = #{record.categoryCode,jdbcType=VARCHAR},
        catetory_name = #{record.catetoryName,jdbcType=VARCHAR},
        catetory_desc = #{record.catetoryDesc,jdbcType=VARCHAR},
        priority = #{record.priority,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.igeekhome.colloa.domain.ExternalCategory">
        update external_category
        <set>
            <if test="categoryCode != null">
                category_code = #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="catetoryName != null">
                catetory_name = #{catetoryName,jdbcType=VARCHAR},
            </if>
            <if test="catetoryDesc != null">
                catetory_desc = #{catetoryDesc,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.igeekhome.colloa.domain.ExternalCategory">
    update external_category
    set category_code = #{categoryCode,jdbcType=VARCHAR},
      catetory_name = #{catetoryName,jdbcType=VARCHAR},
      catetory_desc = #{catetoryDesc,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from external_category order by priority desc;
    </select>

</mapper>